*
!/**/
!*.*

**/__pycache__
**/venv
**/graphs
**/.idea
**/migrations
panda_search/src/all-the-news
db.sqlite3
Pipfile.lock

**/*.png
**/*.jpg
**/*.csv
**/*.gif
**/*.odt
**/*.pdf
**/*.tar.gz

!readme/*
